<!-- <div #drags class="box" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEnded)="dragEnded($event)" (cdkDragMoved)="dragMove($event)">Drag me around!</div> -->

<!-- <div cdkDropList cdkDropListOrientation="horizontal" cdkDropListConnectedTo="graphContainer" class="example-list">
  <div class="example-box" *ngFor="let vm of vms" cdkDrag [cdkDragData]="vm" (cdkDragStarted)="dragStart($event)"
    (cdkDragMoved)="moved($event)" (cdkDragEnded)="dragEnded($event)">
    <img mat-card-sm-image src="{{vm.img}}" class="vm">
    <img>
    <div *cdkDragPlaceholder class="field-placeholder"></div>
  </div>
</div>

<div cdkDropList cdkDropListOrientation="horizontal" cdkDropListConnectedTo="graphContainer" class="example-list">
  <div class="example-box" *ngFor="let host of hosts" cdkDrag [cdkDragData]="host" (cdkDragStarted)="dragStart($event)"
    (cdkDragMoved)="moved($event)" (cdkDragEnded)="dragEnded($event)">
    <img mat-card-sm-image src="{{host.img}}" class="host">
    <img>
    <div *cdkDragPlaceholder class="field-placeholder"></div>
  </div>
</div>

<div cdkDropList cdkDropListOrientation="horizontal" cdkDropListConnectedTo="graphContainer" class="example-list">
  <div class="example-box" *ngFor="let zone of zones" cdkDrag [cdkDragData]="zone" (cdkDragStarted)="dragStart($event)"
    (cdkDragMoved)="moved($event)" (cdkDragEnded)="dragEnded($event)">
    <img mat-card-sm-image src="{{zone.img}}" class="zone">
    <img>
    <div *cdkDragPlaceholder class="field-placeholder"></div>
  </div>
</div> -->

<!-- <mat-list #matlist>
  <mat-list-item class="example-list" cdkDrag cdkDropList cdkDropListOrientation="horizontal" cdkDropListConnectedTo="graphContainer"
    *ngFor="let type of types" [cdkDragData]="type" (cdkDragStarted)="dragStart($event)" (cdkDragMoved)="moved($event)"
    (cdkDragEnded)="dragEnded($event)">
    {{ type }}
    <div *cdkDragPlaceholder class="field-placeholder"></div>
  </mat-list-item>
</mat-list> -->

<!-- <div > -->
<!-- <div #graphContainer cdkDropList (cdkDropListDropped)="itemDropped($event)" id="graphContainer"
  style="overflow:hidden;width:100%;height:100%; padding: 10px;">
</div> -->
<!-- </div> -->


<mat-toolbar color="primary" class="mat-elevation-z8">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <img src="network.png" />
  <span>NFV Topology Designer</span>

  <div class="example-fill-remaining-space"></div>

  <button mat-icon-button>
    <img src="https://github.githubassets.com/favicon.ico"
      (click)="openInNewTab('https://github.com/rbaul/nfv-topology-designer')" />
  </button>
  <!-- <img src="https://github.githubassets.com/favicon.ico" (click)="openInNewTab('https://github.com/rbaul/nfv-topology-designer')"/> -->

</mat-toolbar>


<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="false">
    <mat-accordion multi>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          Zones
        </mat-expansion-panel-header>

        <div cdkDropList cdkDropListOrientation="horizontal" cdkDropListConnectedTo="graphContainer"
          class="example-list">
          <div class="example-box" matTooltip="{{zone.name}}" *ngFor="let zone of zones" cdkDrag [cdkDragData]="zone"
            (cdkDragStarted)="dragStart($event)" (cdkDragMoved)="moved($event)" (cdkDragEnded)="dragEnded($event)">
            <img mat-card-sm-image src="{{zone.img}}" class="zone">
            <img>
            <div *cdkDragPlaceholder class="field-placeholder"></div>
          </div>
          <button mat-icon-button class="zone-new" matTooltip="Create New" (click)="addNew('ZONE')">
            <mat-icon>add</mat-icon>
          </button>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          Hosts
        </mat-expansion-panel-header>

        <div cdkDropList cdkDropListOrientation="horizontal" cdkDropListConnectedTo="graphContainer"
          class="example-list">
          <div class="example-box" matTooltip="{{host.name}}" *ngFor="let host of hosts" cdkDrag [cdkDragData]="host"
            (cdkDragStarted)="dragStart($event)" (cdkDragMoved)="moved($event)" (cdkDragEnded)="dragEnded($event)">
            <img mat-card-sm-image src="{{host.img}}" class="host">
            <img>
            <div *cdkDragPlaceholder class="field-placeholder"></div>
          </div>
          <button mat-icon-button class="host-new" matTooltip="Create New" (click)="addNew('HOST')">
            <mat-icon>add</mat-icon>
          </button>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          VNFs
        </mat-expansion-panel-header>

        <div cdkDropList cdkDropListConnectedTo="graphContainer" class="example-list">
          <div matTooltip="{{vm.name}}" class="example-box" *ngFor="let vm of vms" cdkDrag [cdkDragData]="vm"
            (cdkDragStarted)="dragStart($event)" (cdkDragMoved)="moved($event)" (cdkDragEnded)="dragEnded($event)">
            <img mat-card-sm-image src="{{vm.img}}" class="vm">
            <img>
            <div *cdkDragPlaceholder class="field-placeholder"></div>
          </div>
          <button mat-icon-button class="vnf-new" matTooltip="Create New" (click)="addNew('VM')">
            <mat-icon>add</mat-icon>
          </button>
        </div>

      </mat-expansion-panel>

    </mat-accordion>

    <!-- Creates a container for the outline -->
    <!-- <div id="outlineContainer"
          style="background:transparent;border-style:solid;border-color:lightgray;">
        </div> -->

  </mat-sidenav>

  <mat-sidenav-content>
    <div #graphContainer cdkDropList (cdkDropListDropped)="itemDropped($event)" id="graphContainer">
    </div>
    <!-- Creates a container for the outline -->
    <div id="outlineContainer"
      style="z-index:1;position:absolute;overflow:hidden;top:0px;right:0px;width:160px;height:120px;background:transparent;border-style:solid;border-color:lightgray;">
    </div>
    <div style="position: absolute;bottom: 0;">
      <!-- <div>
        <button mat-icon-button (click)="zoomReset()">
          <mat-icon>favorite</mat-icon>
        </button>
      </div> -->

      <div>
        <mat-slider color="primary" vertical min="5" max="200" step="10" value="100" (change)="zoomChange($event)">
        </mat-slider>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
