.example-list {
    // width: 1000px;
    max-width: 100%;
    border: solid 1px #ccc;
    // min-height: 60px;
    display: flex;
    flex-direction: row;
    // background: white;
    border-radius: 4px;
    overflow: hidden;
    flex-wrap: wrap;
}

.vm {
    height: 20px;
    width: 20px;
    padding: 20px;
    margin: 5px;
    border-radius: 50%;
    border: solid 4px;
    border-color: #E6E6E6;
}

.host,
.zone {
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 5px;
    border: solid 4px;
    border-color: #E6E6E6;
}

#graphContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    // padding: 10px;
}


.host,
.vm,
.zone {
    &:hover {
        border-color: #9a9393;
        cursor: -webkit-grab;
        cursor: grab;
        // border: solid 4px;
    }
}


.example-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    // background: rgba(255, 0, 0, 0.5);
}

.example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}
